<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de E-mail</title>
    <link rel="shortcut icon" href="img/faviconeducamente.ico" type="image/x-icon">

    <link rel="stylesheet" href="style_confirmar.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Cadastro Realizado com Sucesso!</h1>
        </header>
        <div class="message-container">
            <p>Obrigado por se cadastrar! Um e-mail foi enviado para <strong>seu endereço de e-mail</strong>. Por favor, confira sua caixa de entrada para confirmar o cadastro.</p>
            <p>Se você não recebeu o e-mail, verifique sua pasta de spam ou clique no botão abaixo para reenviar.</p>
            <button class="btn-primary">Reenviar E-mail</button>
            <p class="back-to-login">
                <a href="/login?tipo=aluno">Ir para o login</a>
            </p>
        </div>
    </div>
    
    <script src="confirmar.js"></script>
</body>
</html>
