<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-mail já Cadastrado - Educa Mente</title>
    <link rel="shortcut icon" href="/img/faviconeducamente.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style_login_psico.css"> <!-- Seu CSS principal -->
    <!-- Importar a fonte Audiowide do Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="error-page-body">
    <div class="error-page-container">
        <div class="error-page-icon">
            <i class="fas fa-exclamation-triangle"></i>
        </div>
        <!-- Aplicando estilo inline para a fonte Audiowide -->
        <h1 class="error-page-title" style="font-family: 'Audiowide', cursive;">E-mail já Cadastrado</h1>
        <p class="error-page-message">
            O e-mail fornecido já está associado a uma conta em nosso sistema.
            Se você já possui uma conta, por favor, <a href="/login_aluno" style="font-weight:bold; color: #0A4275; text-decoration: underline;">faça login</a>.
            Caso contrário, utilize outro e-mail para se cadastrar.
        </p>
        <a href="/cadastro" class="error-page-button">Tentar Cadastro Novamente</a>
        <p style="margin-top: 20px; font-size: 0.9em;">
            <a href="/" style="color: #1575A3; text-decoration: none; font-weight: 500;">Voltar para a página inicial</a>
        </p>
    </div>
</body>
</html>