<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha - EDUCA MENTE</title>
     <link rel="shortcut icon" href="img/faviconeducamente.ico" type="image/x-icon">

    <!-- Fonte personalizada -->
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <!-- Arquivo CSS -->
    <link rel="stylesheet" href="css/inicio.css">
</head>
<body>
    <!-- Contêiner de seleção -->
    <div class="selection-container">
        <header>
            <h1 class="title">EDUCA MENTE</h1>
            <p>Vamos começar! Quem é você?</p>
        </header>
        <div class="options">
            <!-- Link para Psicopedagogo(a) -->
            <a href="/login?tipo=psicopedagoga" class="option psicopedagoga">
                <span>Psicopedagogo(a)</span>
            </a>
            <!-- Link para Professor(a) -->
            <a href="/login?tipo=professor" class="option professor">
                <span>Professor(a)</span>
            </a>
            <!-- Link para Aluno(a) -->
            <a href="/login?tipo=aluno" class="option aluno">
                <span>Aluno(a)</span>
            </a>
        </div>
    </div>
</body>
</html>
